.corre::before {
  content: "@";
}
.botones_cabezote_movil {
  height: 65px; min-width:65px;
}

.botones_cabezote_movil img {
  width:65px; height:65px; margin-right:9px;
}

.site-logo {
  width: 250px;
}

/* //* top_bar */
.whb-top-bar {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5) !important;
  z-index: 1000;
  position: relative; 
}
  
.top_bar_fr {
  color: #ccc;
  font-size: 11px; 
}
  
.top_bar_left_fr {
  display: flex;
}
  
.top_bar_left_1_fr span,
.top_bar_left_2_fr span {
  color: #fff;
  font-weight: bold;
}
  
.top_bar_fr .wd-icon {
  font-size: 12px !important; 
}
  
.top_bar_fr .social-facebook {
  background: #1F7DC2 !important; 
}
  
.top_bar_fr .social-instagram {
  background: #D09A51 !important; 
}
  
.top_bar_fr .social-pinterest {
  background: #FF0046 !important; 
}
  
.top_bar_fr .social-mail-fr {
  background: #F89A1E !important; 
}
  
.top_bar_fr .social-facebook:hover,
.top_bar_fr .social-instagram:hover,
.top_bar_fr .social-pinterest:hover,
.top_bar_fr .social-mail-fr:hover {
  background: #FF7F00!important; 
}
  
.top_bar_fr .icons-design-default.color-scheme-light .wd-social-icon {
  min-width: 22px !important;
  border-radius: 15px !important;
  padding: 5px !important;
  margin-left: 8px!important; 
}
  
.top_bar_fr .icons-design-default.color-scheme-light .wd-social-icon:hover {
  color: #151515 !important;
}
  
.top_bar_right_fr a {
  color: #fff !important;
  font-weight: bold !important;
}
  
.top_bar_right_fr a:hover {
  color: #FF7F00 !important;
}
  
.top_bar_divider_fr::before {
  border-color: #505050 !important;
}
  

/* /* header */

.whb-general-header {
  height: 100px;
  padding: 0px !important;
  box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
}

.whb-header-bottom {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5) !important; 
}

.whb-main-header [class*="wd-header-search-form"] input[type="text"] {
  background: linear-gradient(to bottom,#e0e0e0 0%,#ffffff 54%,#ffffff 100%);
}

.whb-main-header input[type="text"] {
  border: 2px solid #fff;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.14) !important; 
}

.whb-main-header .searchsubmit {
  background: #FF7F00 !important;
  border: 2px solid #fff;
  margin-right: -2px;
  border-radius: 0 48% 48% 0;
}

.whb-main-header .searchsubmit:hover {
  background: #F26700; 
}

.whb-main-header .searchsubmit {
  color: #fff; 
}

[class*="wd-header-search-form"] input[type="text"] {
  min-width: 100%!important;
}

.whb-main-header .wd-tools-element > a {
  background: linear-gradient(to bottom,  #f05d00 0%,#f05d00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  height: 44px;
  color: #fff;
  margin-right: 24px;
  border: 1px solid #F05C00;
  outline: 2px solid #fff;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
  border-radius: 2px 2px 2px 2px;
  text-shadow: 1px 1px 0px #C66300;
  width: 44px;
  color: #fff;
}

.whb-main-header .wd-tools-element > a:hover {
  background: #151515;
  border: 1px solid #151515;
  outline: 2px solid #fff;
}

.whb-main-header .wd-tools-element:hover > a {
  color: #fff;
  text-shadow: 1px 1px 0px #151515;
}

.whb-main-header .wd-header-mobile-nav .wd-tools-icon::before {
  font-size: 30px;
}

.whb-main-header .wd-header-mobile-nav .wd-tools-text {
  display:none;
}

.whb-main-header .whb-mobile-center {
  width:100%;
}