/* //* //////////////////////////////// Menu superior naranja   */
.wd-header-nav, .wd-header-nav > ul,
.wd-header-nav > ul > li > a {
  height: 100%;
}

.whb-header-bottom {
  background: linear-gradient(to bottom, #ff6805 0%, #ed650d 100%);
  box-shadow: 1px 1px 10px rgb(0 0 0 / 80%);
}

.menu > li {
  max-width: 130px;
  text-align: center;
}

.menu > li > a {
  font-size: 0.8rem !important;
  text-shadow: 1px 1px 2px #961c00;
}

/* //* //////////////////////////////// Animacion Menu superior naranja   */
.item-level-0 > a {
	vertical-align: middle;
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	position: relative;
	transition-property: color;
	transition-duration: 0.5s;
}

.item-level-0 > a:before {
	content:"";
	position:absolute;
	z-index:-1; 
	top:0;
	left:0;
	right:0;
	bottom:0;
	background: linear-gradient(to bottom, #353782 0%, #5557B9 100%);
	transform:scaleY(0); 
	transform-origin:50% 0;
	transition-property: transform;
	transition-duration: 0.5s;
	transition-timing-function: ease-out;
}

.item-level-0 > a:hover{
	color:#fff
}

.item-level-0 > a:hover:before {
  transform:scaleY(1);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

/* //* //////////////////////////////// Sub menu   */

nav.menu-maco {
  margin-bottom: 26px;
}

.menu-maco {
  padding: 1em;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 6px;  
}

.menu-maco a, .menu-maco-grupo {
  max-width: 110px;
  color: rgb(148, 148, 148);
  text-decoration: none;
  font-family: "Kumbh Sans", Arial, Helvetica, sans-serif;
  text-align: center;    
  transition: color .2s;  
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 14px;
}

.menu-maco-extra{
  max-width: 290px;
}

.menu-maco .menu-maco-mini a{
  max-width: max-content;
  display: flex;
}

.menu-maco .menu-maco-mini a span{
  padding: 14px 0 0 14px;
  width: 100px;
  text-align: left;
}

.menu-maco a:hover {
  color: rgb(17, 17, 17);
}

.menu-maco a:hover img {
  filter: saturate(1.1) contrast(1.1) brightness(1.1);
  transform: scale(1.1); 
}

.menu-maco a img, .menu-maco-grupo a img     {
  margin-bottom: 14px;
  transition: all .2s ease-in-out ;  
}

@media screen and (min-width: 480px) {
	.menu-maco {
			display: flex;
			justify-content: space-evenly;
			min-height: 180px;
			/* align-items: center; */
      align-items: self-start;
	}
	.menu-maco-mini{
		display: flex;
		flex-direction: column;
	}
}

.menu-maco-grupo ul  {
  text-align: left;
  margin-top: 10px;
  list-style-type: disclosure-closed;
  padding-left: 0px;  
}

.menu-maco-grupo ul li {
  margin-top: 3px;
}

.menu-maco-grupo ul a {
  font-size: 0.7rem;
  margin-bottom: 10px;
}

.wd-dropdown-menu{
  box-shadow: 0px 2px 8px 0px black;
}