.colapsado{
    width: 300px;
}

.abierto{
    width: 100%;
}

.menu-desplegado{
    height: max-content !important;
    width: max-content !important;
    transform: perspective(999px) rotateX(-20deg) translateZ(0) translate3d(0%,15px,0);
}

/* //////////////////////////////////////////////////* Global */
div.maco-wrapper {
    position: relative;
    width: 980px;
    height: 50px;
    margin: 0 auto;
}

div.maco-wrapper ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.maco-menu-mega{
    position: relative;
}

ul.maco-menu > li > a:after,
ul.maco-menu > li > span:after
{
    transition: all 0.2s ease;
}

ul.maco-menu > li > ul,
ul.maco-menu > li > div {
/*     transform: perspective(999px) rotateX(
        0deg) translateZ(25px); */
    transition: all 0.5s ease;
    animation: show-navbar-dropdown .5s ease forwards;
}
ul.maco-menu > li:hover > ul,
ul.maco-menu > li:hover > div {
    /* transform: translateY(0); */
    visibility:visible;
    transform:perspective(999px) rotateX(0) translateZ(25px) translate3d(0%,15px,5px);
}

ul.maco-menu > li > a:after,
ul.maco-menu > li > span:after
{
    text-decoration: none;
    position: absolute;
}

.icon-desplegagle > a:after,
.icon-desplegagle > span:after
{
    font-family: "Material Design Icons";
    content: "\F0142";
    margin-left: 5px;
    transform: rotate(90deg);
}

.icon-desplegagle > a, 
.icon-desplegagle > span
{
    padding: 0 25px 0 15px !important;
}

ul.maco-menu > li:hover > a:after,
ul.maco-menu > li:hover > span:after
{
    transform: rotate(-90deg);
}

ul.maco-menu > li > ul > li > a:after,
ul.maco-menu > li > ul > li > ul > li > a:after,
ul.maco-menu > li > ul > li > ul > li > ul > li > a:after {
    font-family: "Material Design Icons";
    text-decoration: none;
    font-size: 16px;
    padding: 0;
    content: '\e5cc';
    position: absolute;
    right: 15px;
}

ul.maco-menu > li > ul > li:hover > a:after,
ul.maco-menu > li > ul > li > ul > li:hover > a:after,
ul.maco-menu > li > ul > li > ul > li > ul > li:hover > a:after {
    transform: rotate(-180deg);
}

ul.maco-menu > li > ul > li.maco-open-to-left > a:after,
ul.maco-menu > li > ul > li > ul > li.maco-open-to-left > a:after,
ul.maco-menu > li > ul > li > ul > li > ul > li.maco-open-to-left > a:after {
    content: '\e5cc';
    right: auto;
    left: 10px;
}

ul.maco-menu > li {
    float: left;
    font-size: 14px;
    user-select: none;
}

ul.maco-menu > li > a,
ul.maco-menu > li > span
{
    display: block;
    line-height: 50px;
    padding: 0 15px;// 0 25px 0 15px;
    color: #efefef;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
}

ul.maco-menu > li > a:hover,
ul.maco-menu > li:hover > a,
ul.maco-menu > li.maco-active-menu-item > a:hover,
ul.maco-menu > li.maco-active-menu-item:hover > a,
ul.maco-menu > li > span:hover,
ul.maco-menu > li:hover > span
{
    background: rgb(255 255 255 / 0.2);
}

ul.maco-menu > li.maco-active-menu-item > a,
ul.maco-menu > li.maco-active-menu-item > span
{
    background: rgb(255 255 255 / 0.1)
}

/* //////////////////////////////////////////////////* Desplegable */
ul.maco-menu > li > ul,
ul.maco-menu > li > ul > li > ul,
ul.maco-menu > li > ul > li > ul > li > ul {
    position: absolute;
    box-shadow: 2px 2px 9px 0px rgb(0 0 0 / 40%);
    border-top: 4px solid  rgb(240 240 240);
}

ul.maco-menu > li > ul > li,
ul.maco-menu > li > ul > li > ul > li {
    position: relative;
}

ul.maco-menu > li > ul > li > a,
ul.maco-menu > li > ul > li > ul > li > a,
ul.maco-menu > li > ul > li > ul > li > ul > li > a {
    display: block;
    width: 170px;
    line-height: 40px;
    padding: 0 35px 0 25px;
    background: #fff;
    color: #666;
    text-decoration: none;
    font-size: 14px;
}

ul.maco-menu > li > ul > li:hover > a,
ul.maco-menu > li > ul > li > a:hover,
ul.maco-menu > li > ul > li > ul > li:hover > a,
ul.maco-menu > li > ul > li > ul > li > a:hover,
ul.maco-menu > li > ul > li > ul > li > ul > li:hover > a,
ul.maco-menu > li > ul > li > ul > li > ul > li > a:hover {
    background: rgb(240 240 240);
}

ul.maco-menu > li > ul > li > a:only-child:after,
ul.maco-menu > li > ul > li > ul > li > a:only-child:after,
ul.maco-menu > li > ul > li > ul > li > ul > li > a:only-child:after {
    content: '';
}

ul.maco-menu > li > ul > li > ul,
ul.maco-menu > li > ul > li > ul > li > ul {
    left: 170px;
    top: -4px;
    z-index: 100;
}

ul.maco-menu > li > ul > li.maco-open-to-left > ul,
ul.maco-menu > li > ul > li > ul > li.maco-open-to-left > ul {
    left: auto;
    right: 170px;
}

ul.maco-menu > li > ul > li > a:after,
ul.maco-menu > li > ul > li > ul > li > a:after,
ul.maco-menu > li > ul > li > ul > li > ul > li > a:after {
    transition: all 0.2s ease;
}

ul.maco-menu > li > ul > li > ul,
ul.maco-menu > li > ul > li > ul > li > ul,
ul.maco-menu > li > ul > li > ul > li > ul > li > ul {
    transform: translateX(25px);
    transition: all 0.2s ease;
}

ul.maco-menu > li > ul > li:hover > ul,
ul.maco-menu > li > ul > li > ul > li:hover > ul,
ul.maco-menu > li > ul > li > ul > li > ul > li:hover > ul {
    transform: translateX(0);
}

ul.maco-menu > li > ul,
ul.maco-menu > li > ul > li > ul,
ul.maco-menu > li > ul > li > ul > li > ul {
    visibility: hidden;
    opacity: 0;
}

.oculto{
    visibility: hidden !important;
    opacity: 0 !important;
}

ul.maco-menu > li:hover > ul,
ul.maco-menu > li > ul > li:hover > ul,
ul.maco-menu > li > ul > li > ul > li:hover > ul {
    visibility: visible;
    opacity: 1;
}

/* //////////////////////////////////////////////////* Mega Menu */ 
ul.maco-menu > li.maco-menu-mega > div,
ul.maco-menu > li.maco-menu-mega-blog > div,
ul.maco-menu > li.maco-menu-mega-shop > div {
    visibility: hidden;
    opacity: 0;
}

ul.maco-menu > li.maco-menu-mega:hover > div,
ul.maco-menu > li.maco-menu-mega-blog:hover > div,
ul.maco-menu > li.maco-menu-mega-shop:hover > div {
    visibility: visible;
    opacity: 1;
}

ul.maco-menu > li.maco-menu-mega > div,
ul.maco-menu > li.maco-menu-mega-blog > div,
ul.maco-menu > li.maco-menu-mega-shop > div {
    position: absolute;
    width: 100%;
    height: auto;
    top: 50px;
    left: 0;
    background: #fff;
    box-shadow: 0 13px 27px -5px rgb(50 50 93 / 25%), 0 8px 16px -8px rgb(0 0 0 / 30%), 0 -6px 16px -6px rgb(0 0 0 / 3%);
    border-radius: 12px;
}

.menu-desplegado:before{
    border-bottom:11px solid rgba(0,0,0,.2);
    border-left:11px solid transparent;
    border-right:11px solid transparent;
    content:"";
    display:inline-block;
    position:absolute;
    right:0;
    left:0;
    margin-right:auto;
    margin-left:auto;
    width:1px;
    top:-11px;
}

.menu-desplegado:after{
    border-bottom:11px solid #fff;
    border-left:11px solid transparent;
    border-right:11px solid transparent;
    content:"";
    display:inline-block;
    position:absolute;
    right:0;
    left:0;
    margin-right:auto;
    margin-left:auto;
    width:1px;
    top:-10px;
}

.menu-desplegado:before,  .menu-desplegado:after{
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    width: 1px;
    box-sizing:border-box;
}

.menu-desplegado > div > a:first-child{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.menu-desplegado > div > a:last-child{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* .menu-desplegado > div > *:nth-child(1):nth-last-child(1){
    border-radius: 10px;
} */

.menu-desplegado > div > a:only-of-type
{
    border-radius: 10px;
}